*  {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-size:1rem;
	font-weight: bold;
	font-family: Montserrat;
}

body {
	background-color: #cccccc;
}

#MyName  {
	font-family: Satisfy;
	font-size: 8rem;
}

#Profession {
	font-family: Montserrat !important;
	font-size: 2.5rem;
}

h3 {
	font-family: Satisfy;
	font-weight: bold;
	font-size: 3rem;
}

h4 {
	font-family: Montserrat;
	font-weight: bold;
	font-size: 1.5rem;
}

/*navbar*/
.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	font-weight: 2px solid;
	background-color: #000000;
	font-style: #ffffff;
}

.navbar a {
	float: left;
	display: block;
	text-decoration: none;
	padding: 5px 15px;
	font-size: 0.9rem;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 0.05rem;
}

.navbar a:hover {
	color: rgb(255, 255, 255);
}

#navbarlink {
	display: flex;
	align-items: center;
}



/*main content*/
main {
	margin-top: 100px;
	display: flex;
	color: #000000;
}

.fab {
	font-size: 2rem;
	color: white;
}

section #idPic {
	border-radius: 300px;
	height: 300px;

}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#criteria {
	background-color: #a3a3c2;
}

#about-me {
	background-color: #a3a3c2;
}

footer {
	background-color: black;
}

#disclaimer {
	color: red !important;
	font-size: 10px !important;
}

.carousel-inner img {
  margin: auto;
}
