*  {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

/*#gmap_canvas {
	height: 60vh;
	width: 100%;
}*/

.fab {
	font-size: 2rem;
	color: white;
}

.container {
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-items: center;
}

nav {
	background-color: maroon;
	color: white;
}

.fa-neos {
	text-decoration-color: blue;
}